@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.ep {
  font-family: "Epilogue", sans-serif !important;
}

.header {
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url("../img/vector.png");
  background-color: rgb(225, 225, 225, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-primary,
.bg-primary {
  background-color: #3249a6 !important;
}

.bg-light {
  background-color: #f8fdfd !important;
}

.btn-primary:hover {
  background-color: #2a4096 !important;
}

.btn-outline-dark:hover {
  background-color: rgba(22, 22, 22, 0.1);
}
.text-primary {
  color: #3249a6 !important;
}

.custom-btn {
  padding: 1rem 2.5rem !important;
  text-transform: capitalize !important;
}

.c-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-dot {
  height: 0.60rem;
  width: 0.60rem;
  border-radius: 50%;
  background-color: #ccc !important;
  cursor: pointer;
  margin-right: 4px;
}

@keyframes dotAnimation {
  0% {
    width: 0.5rem;
  }

  20% {
    width: 1rem;
  }

  80% {
    width: 1.5rem;
  }

  100% {
    width: 2rem;
  }
}

.owl-dot.active {
  width: 2rem;
  border-radius: 1rem;
  animation: dotAnimation 0.2s normal;
  animation-direction: alternate;
  background-color: #e6772d !important;
}

.owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.team .owl-dots {
  display: none !important;
}