/* Only Authorised are allowed to Edit  */
/* Css File for Code Space INC.  */
/* Poppins Font Import  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

/* Default Styles */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* General Colors  */
:root {
  --main-text-color: #000;
  --active-color: #4265d6;
  --bg-color: #f9f8fe;
}

/* General Styles  */
h1,
h2,
h3,
h4 {
  color: var(--main-text-color);
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
.container-fluid {
  width: 90%;
}
.brand {
  color: var(--active-color);
}
.bold {
  font-weight: 600;
}

/* Header Styles  */
header {
  min-height: 100vh;
  background-image: url("/Assets/img/header-bg.png");
  background-size: cover;
  background-color: var(--bg-color);
}

/* Navbar Styles  */
nav {
  height: calc(100vh - 87vh);
  z-index: 2;
}
nav.navbar {
  box-shadow: none !important;
  width: 100%;
}
nav .navbar-brand {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
}
nav a.nav-link {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
nav a.active {
  color: var(--active-color);
}

/* Showcase Style  */
.showcase-title {
  font-weight: 600;
}
.showcase-socials {
  display: flex;
  gap: 25px;
}
.showcase-img-container {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.showcase-img {
  width: 85%;
}
.showcase-btn-container {
  display: flex;
  width: 100%;
  gap: 25px;
}
.btn.btn-discover {
  background-color: var(--active-color);
  color: #fff;
  border-radius: 10px;
  padding: 20px 25px;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-weight: 500;
}
.btn.btn-outline-black {
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 20px 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Main Styles  */
main {
  background-color: var(--bg-color);
}
main .container-fluid * {
  position: relative;
  z-index: 3 !important;
}
/* Team Section  */
section.team-section h4 {
  font-size: 1rem;
}
section.team-section h2 {
  font-weight: 600;
  font-size: 2.5rem;
}
/* Team Slider  */
