/* Only Authorised are allowed to Edit  */
/* Css File for Code Space INC.  */
/* Poppins Font Import  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Default Styles */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* General Colors  */
:root {
  --main-text-color: #000;
  --primary-text-color: #fff;
  --active-color: #4265d6;
  --bg-color: #f9f8fe;
  --secondary-bg: #f8fdfd;
}

/* General Styles  */
h1,
h2,
h3,
h4 {
  color: var(--main-text-color);
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
.br-sm {
  display: none;
}
.primary-text {
  color: var(--primary-text-color);
}
.text-primary-white{
  color: var(--primary-text-color);
}
.container-fluid {
  width: 90%;
}
.brand {
  color: var(--active-color);
}
.bold {
  font-weight: 600;
}
.ml-2{
  margin-left: -1rem;
}
/* Header Styles  */
header {
  min-height: auto;
  background-size: cover;
  background-color: var(--bg-color);
}
.header {
  background-image: url("/Assets/img/header-bg.png");
}

.ai-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Navbar Styles  */
nav {
  height: calc(100vh - 87vh);
  z-index: 2;
}
nav.navbar {
  box-shadow: none !important;
  width: 100%;
}
nav .navbar-brand {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
}
nav a.nav-link {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding: 1px;
}
nav a.home-active {
  color: var(--active-color);
}
nav a.active {
  color: var(--active-color);
  background: var(--bg-color);
  border-radius: 50px;
}

/* Showcase Style  */
.showcase-title {
  font-weight: 600;
}
.showcase-socials {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.showcase-img-container {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.showcase-img {
  width: 85%;
  display: block;
}

.showcase-btn-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 25px;
}
.btn.btn-primary {
  background-color: var(--active-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.showcase-text-container {
  position: relative;
}
.showcase-arrow-icon-svg {
  position: absolute;
  right: 0px;
  top: 0px;
}

/* Main Styles  */
main {
  background-color: var(--bg-color);
}
main .container-fluid * {
  position: relative;
  z-index: 3 !important;
}
/* Team Section  */

section.team-section h4 {
  font-size: 1rem;
}
section.team-section h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
/* Team Slider  */
.team-slider-item .team-img {
  border-radius: 6px;
}
.team-slider-item h3 {
  margin-top: 14px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0px;
}
.team-slider-item p {
  font-size: 1rem;
}

/* Intro Section  */
section.intro-section {
  background-color: var(--bg-color);
}
.intro-section .intro-text h2 {
  font-weight: 600;
  white-space: nowrap;
}
.intro-section .line-and-text-container {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}
.line {
  width: 65%;
}

/* Team Projects Section  */
section.team-projects {
  text-align: center;
}
.team-projects .team-projects-h1 {
  font-weight: 700;
}
.team-projects .team-projects-bio-p {
  width: auto;
  margin: auto;
}
/* Afro watch  */
.team-project-slider .team-project-slider-item.afro-watch {
  background: url("/Assets/img/afrowatch-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  min-width: 300px;
  border-radius: 20px;
  position: relative;
}
/* Covdash  */
.team-project-slider .team-project-slider-item.covdash {
  background: url("/Assets/img/covdash.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 418px;
  min-width: 300px;
  border-radius: 20px;
  position: relative;
}
/* GPA Calculator  */
.team-project-slider .team-project-slider-item.gpa-calculator {
  background: url("/Assets/img/gpa-calculator.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 418px;
  min-width: 300px;
  border-radius: 20px;
  position: relative;
}
.team-project-slider .team-project-slider-item .team-project-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.team-project-slider .team-project-slider-item .team-project-header h1 {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 600;
}
.team-project-slider .team-project-slider-item p {
  padding: 0 23px;
  color: var(--main-text-color);
  text-align: start;
  font-size: 1rem;
  font-weight: 400;
}
/* Headline Styles  */
section.headline {
  padding: 50px 0px;
  overflow: hidden;
}
.headline .title-and-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headline .clinton-headline-container {
  position: relative;
}
.headline .clinton-headline-container h2 {
  padding: 8px;
  padding-left: 29px;
  position: absolute;
  top: 60%;
  color: #fff;
}
.headline .clinton-headline-container p {
  padding: 8px;
  padding-left: 29px;
  font-size: 0.9rem;
  position: absolute;
  top: 80%;
  color: #fff;
}
.headline .building-future-headline {
  position: relative;
}
.headline .building-future-headline h2 {
  position: absolute;
  top: 30%;
  padding: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
}
.headline .oseni-headline {
  position: relative;
}
.headline .oseni-headline h3 {
  position: absolute;
  top: 70%;
  color: #fff;
  font-size: 1.1rem;
  padding: 0px 10px;
  text-transform: uppercase;
}
.headline .precious-kayili-headline {
  position: relative;
}
.headline .precious-kayili-headline h3 {
  position: absolute;
  top: 65%;
  color: #fff;
  font-size: 1rem;
  padding: 0px 10px;
  text-transform: capitalize;
}
/* Vision Section  */
.vision-section-container .vision-section-img-container {
  text-align: center;
}
.vision-section-container .vision-section-text-container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.vision-section-container .vision-section-text-container h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
.vision-section-container .vision-section-text-container p {
  text-align: left;
  font-size: 1.2rem;
}

/* Build Your Dream Styles  */
section.build-your-dream-container {
  background-color: var(--active-color);
  padding-bottom: 25px;
}
.build-your-dream-container .container-fluid .build-your-dream-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 90px;
}
.build-your-dream-container
  .container-fluid
  .build-your-dream-text-container
  h1 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}
.build-your-dream-container
  .container-fluid
  .build-your-dream-text-container
  p {
  color: #fff;
  padding-bottom: 25px;
  font-size: 0.8rem;
}
.build-your-dream-container .container-fluid .build-your-dream-img-container {
  text-align: center;
}
.build-your-dream-container
  .container-fluid
  .build-your-dream-img-container
  .build-future-project-img-1 {
  position: relative;
  top: -20px;
}

/* Review Section Media Query */
section.testimonial-section {
  background: var(--active-color);
  text-align: center;
}
.testimonial-section h2 {
  color: var(--primary-text-color);
  padding: 25px 0px;
}
.testimonial-item-container {
  width: 360px;
  background-color: var(--secondary-bg);
  padding: 35px 30px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.testimonial-header {
  text-align: left;
}
.testimonial-header p {
  font-size: 0.8rem;
}
.star-filled {
  color: #feb800;
}
.testimonial-item-container .testimonial-footer {
  display: flex;
  gap: 5px;
}
.testimonial-footer .testimonial-img-and-text-container {
  display: flex;
  align-items: center;
  gap: 7px;
}
.testimonial-img-and-text-container img {
  width: 10%;
}
.testimonial-img-and-text-container .text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.testimonial-img-and-text-container .text-container .h4 {
  font-size: 0.85rem;
}
.testimonial-img-and-text-container .text-container:last-child {
  font-size: 0.7rem;
}
.testimonial-footer .testimonial-stars-and-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.testimonial-footer .testimonial-stars-and-rating .stars {
  display: inline-flex;
}

.testimonial-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--bg-color);
  margin-top: 30px;
  opacity: 1;
}
.testimonial-slider .swiper-pagination .swiper-pagination-bullet-active {
  background: #feb800;
}

/* Footer Styles  */
footer.main-footer {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  padding-top: 40px !important;
  padding-bottom: 20px;
}
.main-footer .container-fluid h2 {
  margin-bottom: 26px;
}
.main-footer .container-fluid p:first-child {
  margin-top: 16px;
}
.main-footer .container-fluid h4 {
  font-size: 1rem;
  padding-bottom: 16px;
}
.main-footer .container-fluid h4 span a {
  color: var(--active-color);
}
.main-footer .container-fluid .showcase-socials {
  justify-content: flex-start;
}

/* //// */
/* //// */
/* //// */
/* //// */
/* //// */
/* //// */
/* //// */
/* //// */
/* //// */
/*  Media Query  */
@media only screen and (max-width: 1200px) {
  /* Showcase Media Query  */
  .showcase {
    padding-top: 20px;
  }
  .showcase-img-container {
    display: none;
  }
  .showcase-img {
    display: none;
  }
  .showcase-title {
    font-weight: 600;
    text-align: center;
  }
  .showcase-bio {
    display: none;
  }
  .showcase-socials {
    text-align: center;
    justify-content: center;
  }
  .showcase-btn-container {
    justify-content: center;
  }
  .showcase-text-container {
    position: relative;
    overflow: hidden;
  }
  .showcase-arrow-icon-svg {
    position: absolute;
    right: -50px;
    top: -50px;
  }
  /* Team Section Media Query  */
  .br {
    display: none;
  }
  section.team-section h2 {
    font-weight: 700;
    font-size: 2rem;
  }
  .team-slider-item h3 {
    margin-top: 14px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .team-slider-item p {
    font-size: 0.5rem;
  }
  /* Intro Section Media Query  */
  .intro-section .line-and-text-container .line {
    display: none;
  }

  /* Team Projects Media Query  */
  /* Afro watch  */
  .team-project-slider .team-project-slider-item.afro-watch {
    background: url("/Assets/img/afrowatch-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    min-width: auto;
    border-radius: 20px;
    position: relative;
  }
  /* Covdash  */
  .team-project-slider .team-project-slider-item.covdash {
    background: url("/Assets/img/covdash.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 418px;
    min-width: auto;
    border-radius: 20px;
    position: relative;
  }
  /* GPA Calculator  */
  .team-project-slider .team-project-slider-item.gpa-calculator {
    background: url("/Assets/img/gpa-calculator.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 418px;
    min-width: auto;
    border-radius: 20px;
    position: relative;
  }
  /* Headline Media Query  */
  .headline .more {
    display: none;
  }
  .headline .headline-grid {
    display: none;
  }

  .vision-section-container .vision-section-text-container {
    padding: 0px;
    display: block;
    text-align: center;
  }

  .vision-section-container .vision-section-text-container h2 {
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
  }
  .vision-section-container .vision-section-text-container p {
    text-align: left;
    font-size: 0.9rem;
    text-align: center;
  }

  /* Build Your Dream Styles  */
  section.build-your-dream-container {
    background-color: var(--active-color);
  }
  .build-your-dream-container
    .container-fluid
    .build-your-dream-text-container {
    display: block;
    padding-left: 0px;
    padding: 0px;
    padding-top: 40px;
    text-align: center;
  }
  .build-your-dream-container
    .container-fluid
    .build-your-dream-text-container
    h1 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
  }
  .build-your-dream-container
    .container-fluid
    .build-your-dream-text-container
    p {
    color: #fff;
    padding-bottom: 25px;
    font-size: 0.8rem;
    text-align: center;
  }
  .build-your-dream-container .container-fluid .build-your-dream-img-container {
    text-align: center;
    margin-bottom: 20px;
  }
  .build-your-dream-container
    .container-fluid
    .build-your-dream-img-container
    .build-future-project-img-1 {
    position: static;
  }
}
@media only screen and (max-width: 991px) {
  nav .navbar-nav {
    background: var(--bg-color);
    padding: 0px 20px;
  }
  .text-primary-white{
  color: var(--active-color);
}
}
@media only screen and (min-width: 1900px) {
  .showcase-img {
    width: 50% !important;
  }
}
@media only screen and (max-width: 480px) {
  .br-sm {
    display: block;
  }
  /* Review Section Media Query */
  section.testimonial-section {
    background: var(--active-color);
    text-align: center;
  }
  .testimonial-section h2 {
    color: var(--primary-text-color);
    padding: 25px 0px;
  }
  .testimonial-item-container {
    width: auto;
    background-color: var(--secondary-bg);
    padding: 35px 30px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  .testimonial-header {
    text-align: left;
  }
  .testimonial-header p {
    font-size: 0.8rem;
  }
  .star-filled {
    color: #feb800;
  }
  .testimonial-item-container .testimonial-footer {
    display: flex;
    gap: 5px;
  }
  .testimonial-footer .testimonial-img-and-text-container {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .testimonial-img-and-text-container img {
    width: 10%;
  }
  .testimonial-img-and-text-container .text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .testimonial-img-and-text-container .text-container .h4 {
    font-size: 0.6rem;
  }
  .testimonial-img-and-text-container .text-container:last-child {
    font-size: 0.5rem;
  }
  .testimonial-footer .testimonial-stars-and-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .testimonial-footer .testimonial-stars-and-rating .stars {
    display: inline-flex;
  }

  .testimonial-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--bg-color);
    margin-top: 30px;
    opacity: 1;
  }
  .testimonial-slider .swiper-pagination .swiper-pagination-bullet-active {
    background: #feb800;
  }
  .main-footer .container-fluid p:first-child {
    font-size: 1rem;
  }
}
